<div class="section section-dark section-nucleo-icons">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h2 class="title">Aceda aos seus descontos através do QR CODE</h2><br/>
                <p class="description">
                    Só tem de se registar na nosso website fornecendo o seu contacto telefonico. Após efetuado o registo, basta fazer login no nosso website e desfrutar de descontos exlusivos.
                </p><br/>
                <a [routerLink]="['/nucleoicons']" class="btn btn-danger btn-round">Registar</a>
                <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-danger btn-round" target="_blank">Login</a>
            </div>

            <div class="col-lg-6 col-md-12">
                <img src="./assets/img/qr_code.png" alt="Random second sle" style="max-width: 100%; max-height: 100%;">
            </div>
        </div>
    </div>
</div>