<div class="wrapper">
    <div class="page-header" style="background-color: black">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">Welcome to 46 Lisbon</h3>
                          <br>
                          <form class="register-form">
                              <label>Telemóvel</label>
                              <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-mobile"></i>
                                  </span>
                                </div>

                                  <input type="text" class="form-control" placeholder="Número de telemóvel" (focus)="focus=true" (blur)="focus=false" >
                              </div>
                              <button class="btn btn-danger btn-block btn-round" (click)="loginHandler()">Login</button>
                          </form>
                          <br>

                          <h6 class="title">This is a member platform only. Please check with staff.</h6>
                          <br>
                      </div>
                    </div>
                </div>
            </div>
    </div>
</div>
