<div class="dialog-container">
<h2 mat-dialog-title style="text-align: center; color: #4E261C">Enjoy your special promotion</h2>
<mat-dialog-content class="mat-typography">
  <p style="color: #4E261C">{{ data.description}}</p>
  <p style="text-align: center;font-size: 90px; color: #4E261C"><b>{{data.promotion}}</b></p>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close style="padding: 5px; border: 1px solid #907F73">Close</button>
</mat-dialog-actions>
</div>
