<div class="dialog-container">
<h2 mat-dialog-title style="text-align: center; color: #4E261C; margin-top: 5%;">Enjoy your special promotion</h2>
<div class="mat-typography" style="margin-top: 7%">
  <p style="color: #4E261C">{{ data.description}}</p>
  <p style="text-align: center;font-size: 90px; color: #4E261C; margin-top: 5%;"><b>{{data.promotion}}</b></p>

  <div align="center">
    <button mat-button mat-dialog-close style="padding: 5px; border: 1px solid #907F73; margin-top: 1%;">Close</button>
  </div>
</div>
</div>
