<div class="section section-dark">
    <div class="container">
        <br>
        <div class="tim-title">
            <h2><b>Olá, {{ nomeCliente }}</b></h2>
        </div>
        <p class="tim-title"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt
                mollit anim id est laborum.</b></p>
        <div class="row">
            <div class="mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let promotion of promotions">
                            <img [src]="promotion.src" alt="Random first slide">
                            <div class="carousel-caption"
                                style="background-color: white; opacity: 70%; margin-bottom: 1%;">
                                <h3 style="color: #4E261C"> <b>{{promotion.description}}</b></h3>
                                <h1 style="margin-top: 10%; margin-bottom: 10%; color: #4E261C"><b>{{promotion.value}} %</b></h1>
                                <p style="color: #4E261C"><b>{{promotion.small_description}}</b></p>
                            </div>
                        </ng-template>  
                    </ngb-carousel>
                </div>
                <div style="display: flex; justify-content: center;">
                    <button style="max-width: 50%;" class="btn btn-danger btn-block btn-round" (click)="openDialog()">Open special promotion
                        pop up</button>
                </div>
            </div>
        </div>
    </div>
</div>