<div class="section section-dark">
    <div class="container">
        <br>
        <div class="tim-title">
            <h2><b>Promoções</b></h2>
        </div>
        <p class="tim-title"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
            mollit anim id est laborum.</b></p>
        <div class="row">
            <div class="mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="../../../assets/img/soroush-karimi.jpg" alt="Random first slide">
                            <div class="carousel-caption" style="background-color: white; opacity: 70%; margin-bottom: 1%;">
                                <h3 style="color: #4E261C"> <b>Get discount for your next visit</b></h3>
                                <h1 style="margin-top: 10%; margin-bottom: 10%; color: #4E261C"><b>30 %</b></h1>
                                <p style="color: #4E261C"><b>First promotion</b></p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="../../../assets/img/federico-beccari.jpg" alt="Random second slide">
                            <div class="carousel-caption" style="background-color: white; opacity: 70%; margin-bottom: 1%;">
                                <h3 style="color: #4E261C"> <b>Get discount for your next visit</b></h3>
                                <h1 style="margin-top: 10%; margin-bottom: 10%; color: #4E261C"><b>30 %</b></h1>
                                <p style="color: #4E261C"><b>Second promotion</b></p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="../../../assets/img/joshua-stannard.jpg" alt="Random third slide">
                            <div class="carousel-caption" style="background-color: white; opacity: 70%; margin-bottom: 1%;">
                                <h3 style="color: #4E261C"> <b>Get discount for your next visit</b></h3>
                                <h1 style="margin-top: 10%; margin-bottom: 10%; color: #4E261C"><b>30 %</b></h1>
                                <p style="color: #4E261C"><b>Third promotion</b></p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>