<div class="wrapper">
    <div class="page-header" style="background-color: #4E261C">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">Bem vindo</h3>
                          <div class="social-line text-center">
                              <a href="https://www.facebook.com/46lisboa" target="_blank" class="btn btn-neutral btn-facebook btn-just-icon">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                              <a href="https://www.instagram.com/46_lisboa/" target="_blank" class="btn btn-neutral btn-twitter btn-just-icon">
                                  <i class="fa fa-instagram"></i>
                              </a>
                          </div>
                          <form class="register-form">
                              <label>Nome</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-single-02"></i>
                                  </span>
                                </div>

                                  <input type="text" class="form-control" placeholder="Nome completo" (focus)="focus=true" (blur)="focus=false" >
                              </div>
                              <label>Email</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                  <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                              </div>
                              <label>Telemóvel</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-mobile"></i>
                                  </span>
                                </div>

                                  <input type="text" class="form-control" placeholder="Número de telemóvel" (focus)="focus=true" (blur)="focus=false" >
                              </div>
                              <button class="btn btn-danger btn-block btn-round">Registar</button>
                          </form>
                      </div>
                    </div>
                </div>
            </div>
    </div>
</div>
